doctype html
html
	head
	body
		h1 Hey
		form(method='post')
			| first name 	
			input(type='text', name='fname')
			| last name 	
			input(type='text', name='lname')
			| email 	
			input(type='email', name='email')
			input(type='submit')
		p=fname
		p=lname
		p=email

